.roboto-newfont {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    grid-template-rows: 1fr 4.5fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #e6efe9;
    padding: 20px;
    padding-bottom: 280px;
    display: grid;
    grid-template-rows: 1fr repeat(9, 0.6fr);
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    align-items: center;
}

.logo-text {
    font-size: 30px;
    font-weight: 550;
}

.option-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-left: 15px;
}

.option-container>img {
    height: 26px;
}

.option-label {
    font-size: 18px;
    font-weight: 400;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;

    display: grid;
    grid-template-columns: 2.8fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 18px 40px 10px 40px;
    gap: 10px;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgba(169, 169, 169, 0.425);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2.1fr 2fr;
    gap: 20px;
    padding: 2em 2em 4em 1.8em;
}

.main-content .projects-container {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content .announcement-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content .trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-sec-heading {
    font-weight: 500;
    font-size: 20px;
}

.searchbar-div {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchbar-input {
    width: 100%;
    border-radius: 14px;
    height: 28px;
    border: none;
    background-color: rgba(169, 169, 169, 0.301);
}

.searchbar-form {
    flex-grow: 1;
}

.searchbar-icon {
    height: 2em;
}

.rightend-stuff {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 22px;
    justify-content: flex-end;
    padding-right: 8px;
}

.rightend-name {
    font-size: 1.2em;
    font-weight: 500;
}

.introinfo-div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.intro-labels {
    margin-left: 10px;
}

.intro-name-text {
    font-weight: 500;
    font-size: 38px;
}

.intro-img {
    height: 4.8em;
}

.rightend-btns {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.rightendbtn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightendbtn-div button {
    height: 2em;
    border-radius: 15px;
    padding: 4px 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #354f52;
    border: none;
    color: white;
}

.projects-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    flex: 1 1 100%;
}

.project-card {
    /*min-height: 300px;*/
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 32px 20px 25px 20px;
    border-left: 8px solid #437436;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.project-card-heading {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.project-card-text {
    color: rgba(0, 0, 0, 0.534);
}

.project-card-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}

.project-card-icons>img {
    height: 1.6em;
}

.announcement-div {
    flex: 1 1 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    border-radius: 6px;
    gap: 12px;
    background-color: #a7c4a0;
}

.announcement-card {
    flex: 1 1 100%;
}

.announcement-card .first-child {
    border-bottom: 5px solid black;
}

.announcement-card-title {
    font-size: 18px;
    font-weight: 500;
}

.announcement-card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.534);
}

.trending-div {
    flex: 1 1 100%;
    background-color: #a7c4a0;
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 6px;
}

.trending-card {
    flex: 1 1 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
}

.trending-card-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trending-card-img {
    display: flex;
    align-items: center;
}

.trending-card-img>img {
    size: 2.2em;
}

.trending-card-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.trending-card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.541);
}